<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mapper.TInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="project.entity.TInfo">
        <id column="c_id" property="cId" />
        <result column="c_image" property="cImage" />
        <result column="c_jfsm" property="cJfsm" />
        <result column="c_gywm" property="cGywm" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, c_image, c_jfsm, c_gywm
    </sql>

</mapper>
