<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.mapper.TVideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="project.entity.TVideo">
        <id column="c_id" property="cId" />
        <result column="c_url" property="cUrl" />
        <result column="c_title" property="cTitle" />
        <result column="dt_create_time" property="dtCreateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        c_id, c_url, c_title, dt_create_time
    </sql>

</mapper>
